In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.4.3'

In [4]:
df = pd.read_parquet('yellow_tripdata_2022-01.parquet')

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data', con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [16]:
df.head(n=0).to_sql(name = 'yellow_taxi_data', con = engine, if_exists='replace') #creating table and loading column names

0

In [17]:
%time df.to_sql(name = 'yellow_taxi_data', con = engine, if_exists='append') #loading data

CPU times: total: 2min 24s
Wall time: 4min 53s

931